target
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

/repository/

.gradle
edmm-core/src/test/resources/templates/multi

# local kubectl config
minikube-remote/

# multi transform config file
multi-transform-config.yml

# dtd
checkstyle-configuration_1_3.dtd
